* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background: #f5f6fa;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #2c3e50;
    height: 100vh;
    padding: 20px;
    color: white;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 30px;
    text-align: center;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin: 8px 0;
    background: #34495e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.sidebar a:hover {
    background: #1abc9c;
}

/* Main Content */
.main {
    margin-left: 240px;
    padding: 20px;
    width: 100%;
}

.header h1 {
    margin-bottom: 20px;
}

/* Cards Section */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    width: 23%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
    color: #555;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    color: #2980b9;
}

/* Table */
.table-title {
    margin-bottom: 10px;
    color: #333;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #3498db;
    color: white;
}

tr:hover {
    background: #f1f1f1;
}

.delete-btn {
    background: #e74c3c;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #c0392b;
}

.delete-btn1 {
    background: #28a745;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn1:hover {
    background: #218838;
}
.section { display: none; }
.section:target { display: block; }
#dashboard { display: block; }